:root {
	--font-family: system-ui, sans-serif;

	--hue-red: 25;
	--hue-pink: 350;
	--hue-purple: 310;
	--hue-violet: 290;
	--hue-indigo: 270;
	--hue-blue: 240;
	--hue-cyan: 210;
	--hue-teal: 185;
	--hue-green: 145;
	--hue-lime: 125;
	--hue-yellow: 100;
	--hue-orange: 75;

	--color-hue: var(--hue-purple);
	--color-0: oklch(99% 0.03 var(--color-hue, 0));
	--color-1: oklch(95% 0.06 var(--color-hue, 0));
	--color-2: oklch(88% 0.12 var(--color-hue, 0));
	--color-3: oklch(80% 0.14 var(--color-hue, 0));
	--color-4: oklch(74% 0.16 var(--color-hue, 0));
	--color-5: oklch(68% 0.19 var(--color-hue, 0));
	--color-6: oklch(63% 0.2 var(--color-hue, 0));
	--color-7: oklch(58% 0.21 var(--color-hue, 0));
	--color-8: oklch(53% 0.2 var(--color-hue, 0));
	--color-9: oklch(49% 0.19 var(--color-hue, 0));
	--color-10: oklch(42% 0.17 var(--color-hue, 0));
	--color-11: oklch(35% 0.15 var(--color-hue, 0));
	--color-12: oklch(27% 0.12 var(--color-hue, 0));
	--color-13: oklch(20% 0.09 var(--color-hue, 0));
	--color-14: oklch(14% 0.07 var(--color-hue, 0));
	--color-15: oklch(11% 0.05 var(--color-hue, 0));
	--color-bright: oklch(65% 0.3 var(--color-hue, 0));

	--gray-0: oklch(99% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-1: oklch(95% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-2: oklch(88% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-3: oklch(80% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-4: oklch(74% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-5: oklch(68% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-6: oklch(63% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-7: oklch(58% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-8: oklch(53% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-9: oklch(49% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-10: oklch(43% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-11: oklch(37% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-12: oklch(31% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-13: oklch(25% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-14: oklch(18% var(--gray-chroma, none) var(--gray-hue, none));
	--gray-15: oklch(10% var(--gray-chroma, none) var(--gray-hue, none));

	--background-color: light-dark(var(--gray-0), var(--gray-14));

	--text-color: light-dark(var(--gray-10), var(--gray-2));
	--text-color-link: light-dark(var(--color-8), var(--color-3));
	--text-color-link-active: light-dark(var(--color-10), var(--color-5));
	--text-color-link-visited: light-dark(var(--color-9), var(--color-4));
}

/* Global stylesheet */
* {
	box-sizing: border-box;
}

@view-transition {
	navigation: auto;
}

html {
	color-scheme: light dark;
	background-color: var(--background-color);
	color: var(--text-color);
	font-family: var(--font-family);
}
body {
	margin: 0 auto;
	max-width: 40em;
}

/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

/* Fluid images via https://www.zachleat.com/web/fluid-images/ */
img {
	max-width: 100%;
}
img[width][height] {
	height: auto;
}
img[src$=".svg"] {
	width: 100%;
	height: auto;
	max-width: none;
}

p:last-child {
	margin-bottom: 0;
}
p {
	line-height: 1.5;
}

li {
	line-height: 1.5;
}

a[href] {
	color: var(--text-color-link);
}
a[href]:visited {
	color: var(--text-color-link-visited);
}
a[href]:hover,
a[href]:active {
	color: var(--text-color-link-active);
}

main,
footer {
	padding: 1rem;
}
main :first-child {
	margin-top: 0;
}

header {
	border-bottom: 1px dashed var(--gray-3);
}
header:after {
	content: "";
	display: table;
	clear: both;
}

.links-nextprev {
	display: flex;
	justify-content: space-between;
	gap: 0.5em 1em;
	list-style: "";
	border-top: 1px dashed var(--gray-3);
	padding: 1em 0;
}
.links-nextprev > * {
	flex-grow: 1;
}
.links-nextprev-next {
	text-align: right;
}

table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}

/* Header */
header {
	display: flex;
	gap: 1em 0.5em;
	flex-wrap: wrap;
	align-items: center;
	padding: 1em;
}
.home-link {
	font-size: 1em; /* 16px /16 */
	font-weight: 700;
	margin-right: 2em;
	display: flex;
	gap: 0.5em;
	align-items: center;
}
.home-link:link:not(:hover) {
	text-decoration: none;
}
.home-link img {
	max-block-size: 2em;
	inline-size: auto;
}

/* Nav */
.nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}
.nav-item {
	display: inline-block;
	margin-right: 1em;
}
.nav-item a[href]:not(:hover) {
	text-decoration: none;
}
.nav a[href][aria-current="page"] {
	text-decoration: underline;
}

/* Footer */
footer a {
	text-decoration: none;
}

/* Posts list */
.postlist {
	list-style: none;
	padding: 0;
	padding-left: 1.5rem;
}
.postlist-item {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	counter-increment: start-from -1;
	margin-bottom: 1em;
}
.postlist-item:before {
	display: inline-block;
	pointer-events: none;
	content: "" counter(start-from, decimal-leading-zero) ". ";
	line-height: 100%;
	text-align: right;
	margin-left: -1.5rem;
}
.postlist-date,
.postlist-item:before {
	font-size: 0.8125em; /* 13px /16 */
	color: var(--gray-14);
}
.postlist-date {
	word-spacing: -0.5px;
}
.postlist-link {
	font-size: 1.1875em; /* 19px /16 */
	font-weight: 700;
	flex-basis: calc(100% - 1.5rem);
	padding-left: 0.25em;
	padding-right: 0.5em;
	text-underline-position: from-font;
	text-underline-offset: 0;
	text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
	font-weight: bold;
}

/* Tags */
.post-tag {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	font-style: italic;
}
.postlist-item > .post-tag {
	align-self: center;
}

/* Tags list */
.post-metadata {
	display: inline-flex;
	flex-wrap: wrap;
	gap: 0.5em;
	list-style: none;
	padding: 0;
	margin: 0;
}
.post-metadata time {
	margin-right: 1em;
}
